.container{
    align-content: center;
    text-align: center;
  }
  
  table{
    align-content: center;
    text-align: center;
    table-layout: navy;
  }
  td{
      text-align: left;
      padding: 2px;
  }

  th{
      background-color: cadetblue;
      font-size:larger;
      padding: 10px;

  }